<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>MATADOR DE MONSTROS</title>
	<link rel="stylesheet" href="bootstrap.min.css">
	<link rel="stylesheet" href="vue.css">
</head>
<body>
<div id="app">
	<div class="container bg-light my-4 shadow border border-dark rounded">
		<div class="d-flex flex-row justify-content-around my-3">
			<div class="d-flex flex-column flex-grow-1 align-content-center mx-4">
				<h2 class="h2">Jogador</h2>
				<div class="progress">
					<div class="progress-bar" :class="corbarra(true)" role="progressbar" :style="{width: lifejogador+'%'}" :aria-valuenow="lifejogador" aria-valuemin="0" aria-valuemax="100">{{ lifejogador }}%</div>
				</div>
			</div>
			<div class="d-flex flex-column flex-grow-1 align-content-center mx-4">
				<h2 class="h2">Monstro</h2>
				<div class="progress">
					<div class="progress-bar" :class="corbarra(false)" role="progressbar" :style="{width: lifemonstro+'%'}" :aria-valuenow="lifemonstro" aria-valuemin="0" aria-valuemax="100">{{ lifemonstro }}%</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container bg-light my-4 shadow border border-dark rounded d-flex flex-row justify-content-center" v-if="mostraresultado">
		<div v-show="vencedor" class="alert alert-success my-3" role="alert"><h3 class="alert-heading">Você venceu!!! 😁</h3></div>
		<div v-show="!vencedor" class="alert alert-danger my-3" role="alert"><h3 class="alert-heading">Você perdeu! 😭</h3></div>
	</div>
	<div class="container bg-light my-4 shadow border border-dark rounded d-flex flex-row justify-content-center" v-if="!jogoativo || mostraresultado">
		<button type="button" class="btn btn-primary my-3" @click="zerar(true)">INICIAR NOVO JOGO</button>
	</div>
	<div class="container bg-light my-4 shadow border border-dark rounded d-flex flex-row justify-content-center" v-if="jogoativo">
		<button type="button" class="btn btn-danger m-3" @click="ataque(false)">ATAQUE</button>
		<button type="button" class="btn btn-warning m-3" @click="ataque(true)">ATAQUE ESPECIAL</button>
		<button type="button" class="btn btn-success m-3" @click="curar()">CURAR</button>
		<button type="button" class="btn btn-secondary m-3" @click="zerar(false)">DESISTIR</button>
	</div>
	<div class="container bg-light my-4 shadow border border-dark rounded d-flex flex-row justify-content-center" v-if="relatorio.length !== 0">
		<ul class="list-group my-3 d-flex flex-row-reverse">
			<li v-for="(msg, i) in relatorio" class="list-group-item" :class="rela(i)">{{ msg }}</li>
		</ul>
	</div>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
</body>
</html>